* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 0;
  padding: 10;
}

header, footer {
  background-color: #3dc8f7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 10px;
}

footer {
  flex-direction: column;
  flex-wrap: nowrap;
}

.icon {
  width: 50px;
  height: auto;
}

.main, p {
  margin: 10px;
  padding: 10px;
}

ul {
  margin: 10px;
}

#city-input, #country-input {
  height: auto;
}

.row-1 {
  background-color: rgba(174, 216, 230, 1.0);
  height: 100px;
}

.row-2 {
  background-color: rgba(148, 242, 144, 1.0);
  height: 100px;
}
.row-3 {
  background-color: rgba(255, 255, 10, 1.0);
  height: 100px;
}

.row-4 {
  background-color: rgba(253, 165, 7, 1.0);
  height: 100px;
}

.col-1 {
  width: 100px;
}

.col-2 {
  width: 100px;
}

.col-3 {
  width: 100px;
}

.col-4 {
  width: 100px;
}


.grid-container {
  display: flex;
  /* width: 500px; */
  width: auto;
  max-width: 410px;
  flex-wrap: wrap;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.grid-container span {
  border: 1px solid grey;
}

.col-slider {
  transform-origin: 50px 50px;
  transform: rotate(-90deg);
}

.slider {
  width: 100px;
  margin: 1px;
}

.clicked {
  background-color: purple !important;
  border: 1px solid red !important;
}

input {
  width: 100px;
  height: 100px;
}

.col-sliders {
  width: 100px;
}

.grid-and-col-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 900px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin-top: 0px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
